<p>Hello,</p>

<p>You requested to reset your password for your RsTx account.</p>

<p>Your password won't change until you click on the button.</p>

<p><a href="<%= @link %>">Reset Password</a></p>

<p>Thank you.</p>

<p>RsTx</p>
